@import url('https://fonts.googleapis.com/css?family=Roboto:wght@100;300;400;500;700& display=swap');

:root {
   --wh:#FFFFFF;
   --gd: #DFCC8C;
   --bu: rgb(51, 142, 205);
   --border: .1rem solid rgba(211, 57, 57, 0.3);
}

* {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0; /* <<<<<<<< التعديل الأول: تم تغيير القيمة من 10px إلى 0 */
   box-sizing: border-box;
   outline: none;
   text-align: center;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: .2s linear;
}

html {
   font-size: 62.5%; /* تعديل بسيط لسهولة الحسابات